fastapi
uvicorn
sqlalchemy
psycopg2-binary
psycopg[binary]
pydantic
python-multipart
python-dotenv
requests
google-generativeai>=0.8.4
pillow
cloudinary
pyjwt
cryptography
httpx
groq>=0.11.0
tensorflow
opencv-python-headless
